/*FONTS*/
@font-face
{
	font-family: 'Lato-Regular';
	src: url('Lato-Regular.ttf');
}
@font-face
{
	font-family: 'Merienda-Regular';
	src: url('Merienda-Regular.ttf');
}

body
{
	font-family: 'Lato-Regular';
}
/*HEADER*/
#header
{
    font-family: 'Merienda-Regular';
    width: 100%;
    color: black;
    text-align: center;
}
#logo
{

    margin-left: 10px;
    margin-top:17px;
    font-size: 24px;
    float:left;
}
#logo img
{
	width:100px;
}
.menu
{
    float:right;
    line-height:200%;
    font-size:17px;
    list-style-type:none;
}

.menu > li
{
    float:left;
    width:100px;
}

a
{
    color:black;
    text-decoration: none;
}

.menu a:hover
{
    color:#660099;
}


.required {
	display: block;
	background-color: red;
	border-width: 2px;
	border-color: green;
}



.content {
	margin: 30px;
}

.form {
	padding: 5%;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	-webkit-box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.75);
	box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.75);
	background-color: #f8f8f8;
	border-radius: 5px;
}

.form h1 {
	text-align: center;
}

.input-text, input[type=text], input[type=password] {
	margin-top: 20px;
	background-color: #efefef;
	color: #666666;
	border: 2px solid #ddd;
	border-radius: 5px;
	padding: 5px;
	box-sizing: border-box;
	outline: none;
	width: 140px;
}

.textarea {
	
	margin-top: 20px;
	background-color: #efefef;
	color: #666666;
	border: 2px solid #ddd;
	border-radius: 5px;
	padding: 5px;
	box-sizing: border-box;
	outline: none;
}

input[type=text]:focus, textarea:focus, input[type=password]:focus {
	background-color: #fdf8ff;
}

.form .button {
	font-size: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	background-color: #4c99e2;
	color: white;
	letter-spacing: 2px;
	border-radius: 5px;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
}

.form .button:focus {
	background-color: #67a9ff;
}

.form .button:hover {
	background-color: #67a9ff;
	cursor: pointer;
}

.booking-options {
	background-color: #f8f8f8;
	padding: 20px;
	margin-bottom: 20px;
}

.booking-general {
	background-color: #f3f3f3;
	padding: 20px;
}

.filter {
	float: left;
	padding-right: 30px;
}

.offer {
	background-color: #f8f8f8;
	padding: 20px;
	margin: 20px 0;
}
.bookig-info
{
	background-color: #f8f8f8;
	padding: 10px;
	
}

.offer img {
	float: left;
	width: 28%;
	margin: 2%;
}

.description-room {
	float: left;
	width: 62%;
	margin: 2%;
}
@media only screen and (max-width: 900px) {
	.offer img, .description-room {
		width: 100%;
		float: none;
	}
}
.options-room {
	float: left;
	padding: 15px;
}

.booking-prices {
	border-top: 2px solid #000;
	margin-top: 30px;
	padding: 10px;
}

.booking-person-data-form {
	background-color: #f8f8f8;
	padding: 20px;
}

.side-bar {
	background: #4c99e2;
	width: 15%;
	float: left;
	
	
}

.main-content {
	
	float: left;
	padding: 2%;
}

.side-nav li {
	list-style-type: none;
	padding: 10px 0;
	color: #fff;
	font-size:1.2em;
}
.side-nav a {
	
	color: #fff;
	
}

@media only screen and (max-width: 900px) {
	.side-bar, .main-content {
		width: auto;
		float: none;
	}
}

.tab {
	border-collapse: collapse;
	
}

.tab td, .tab th {
	margin:0 20px;
	border: 1px solid #ddd;
	padding: 8px;
}

.tab tr:nth-child(even) {
	background-color: #f2f2f2;
}

.tab tr:hover {
	background-color: #ddd;
}

.tab th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #4c99e2;
	color: white;
}
label
{
	padding-left:5px;
	padding-right:15px;
	
}
select[multiple], select[size] {
    height: auto;
    
}
button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
    margin: 8px 0;
}

